.title2{
    font-size: 38px;
    font-weight: 600;
}
.text2{
    margin-top:-30px;
    font-size: 19px;
}
.body2{
    
    align-items: center;
    border-radius: 4px;
   background-color:#4479d9;
   width: 53vw;
   height: 30vh;
}
.article2{
    color: #fff;
    padding-left: 45px;
    padding-top:30px;
}