.article3{
    padding: 10px;
    padding-left: 10px;
    background-color: #fff;
    text-align: center;
    color: #000;
    border-bottom: 2px solid #6592e6;
    border-top: 2px solid #6592e6;
    
}
.body3{
    margin-right: 510px;
    margin-left: 510px;
    padding: 10px;
   
}