*{
    font-family: 'Jost';
}
.body1{
height: 20vh;
    width: 49vw;
   border-radius: 4px;
    background-color: #729be8
}
.article1{
    height: 16vh;
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 25px;
    margin-left: 3px;
    width: 49vw;
    border-radius: 2px;
    background-color: #fafafa
}
@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/jost-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/jost-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/jost-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/jost-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/jost-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/jost-v14-latin-regular.svg#Jost') format('svg'); /* Legacy iOS */
}