*{
 font-family: 'Jost',normal;
}
body{
    border: 0;
    padding: 0;
}
.footer1{
    height: 22vh;
    background-color: #232323
}
.ul1{
    margin-left: 560px;
    padding-top: 30px;
    
    width: 30vw;
    
    list-style-type: none;
    display:flex;
    text-align: center;
    justify-content: space-around

}
.img1{
    padding: 3px;
   
    width: 2%;
    text-align: center;
}
.li1{
    font-size: 20px;
  
    padding: 10px;
    color: #47b5ed;
}
.p1{
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-top: 8px;
   
}
.imagem1{
   text-align: center;
 
    width: 90;
}