*{
  font-family: 'Lato',sans-serif;
}

.menu1{
  background: linear-gradient(#4479d9,#e43f3f);
}


.h1-1{
  width: 100%;
  padding-top: 250px;
  color: #fff;
  text-align: center;
}
.p1{
 
  color: #fff;
  text-align: center;
  padding-bottom: 250px;
}
.button1{
  position: absolute;
  left:690px;
  margin-top: 380px;
  padding: 10px 10px 10px 10px;
  border: #6592e6 solid;
  border-radius: 4%;
  
  background-color: #6592e6;
  color: #fff;
  display: inline;
  top: 100px;
  align-items: center;
}
