.menu3{
    background: linear-gradient(#fff,#c8a2c8);
}


.header3{
   
    text-align: center;
}
.ul3{
    padding-top: 50px;
    padding-bottom: 50px;
    list-style-type: none;
}
.button3{
    font-size: 20px;
    border-radius: 15px;
    border: 3px solid yellow;
    background-color: yellow;
}
.h1-3{
    color: #939;
    font-weight: 600;
    font-size:50px;
}
.li-p-3{
    
    font-size: 19px;  
}
@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/jost-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/jost-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/jost-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/jost-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/jost-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/jost-v14-latin-regular.svg#Jost') format('svg'); /* Legacy iOS */
}