*{
  font-family: 'Jost'
}

.menu1{
  
  
  background: linear-gradient(#4479d9,#e43f3f);
}


.h1-1{
  width: 100%;
  padding-top: 250px;
  color: #fff;
  text-align: center;
}
.p1{
 
  color: #fff;
  text-align: center;
  
}
.button1{
  
  right: 200%;
  padding: 10px 10px 10px 10px;
  border: #6592e6 solid;
  border-radius: 4%;
  background-color: #6592e6;
  color: #fff;
  display: inline;
  top: 100px;
  margin-bottom: 250px;
  text-align: center;
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/jost-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/jost-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/jost-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/jost-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/jost-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/jost-v14-latin-regular.svg#Jost') format('svg'); /* Legacy iOS */
}
