
*{
    font-family: 'Lato',sans-serif;
}

.itens1{
    padding: 20px;
    display: inline;
}
.li1{
    display: inline;
    padding: 10px 20px 10px 20px ;
}
.barra-menu1{    
    display: flex;
    justify-content: space-around;
    align-items: center;
}