
*{
    font-family: 'Jost'
}

.itens2{
    padding: 20px;
    display: inline;
}
.li2{
    display: inline;
    padding: 10px 20px 10px 20px ;
}
.barra-menu2{    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.button2{
    padding: 10px 20px 10px 20px ;
    background-color: #6592e6;
    color: #fff;
    border-color: #6592e6;
    border-radius: 4px;
    box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.2);
}
@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/jost-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/jost-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/jost-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/jost-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/jost-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/jost-v14-latin-regular.svg#Jost') format('svg'); /* Legacy iOS */
  }